<%= render 'layouts/main_navbar' %>

<div id="wrapper" style="padding: 1% 0;">
    <div class="container text-center" style="padding: 2% 0;">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <%= link_to aliens_path do %>
              <%= image_tag("hate.jpg", size: "200") %><br>
              Aliens
            <% end %>
          </div>
          <br>
          <div class="row">
              <div class="col">
                  <%= link_to expansions_path do %>
                     <%= image_tag("expansion.png", size: "200") %><br>
                     Expansions
                  <% end %>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
              <div class="col">
                  <%= image_tag "alien-head-512.png", size: "384" %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <h1> CosmicDB </h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <input type="text", size="40", placeholder="Search for something Cosmic...", autofocus>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
</div>
