<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
      </button>
    </div>
      <div class= "collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'application' %>"><%= link_to root_path, class: "navbar-brand" do %>
                <span><%= image_tag "alien-head-white-28l.png" %></span>
                CosmicDB
              <% end %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'aliens' %>"><%= link_to 'Aliens', aliens_path %></li>
            <li class="<%= 'active' if params[:controller] == 'expansions' %>"><%= link_to 'Expansions', expansions_path %></li>
          </ul>
      </div>
    </div>
</nav>
