<%= render 'layouts/main_navbar' %>

<div class="container" align="center">

<%= will_paginate @aliens, renderer: BootstrapPagination::Rails %>

<div class="container">
	<% @aliens.each do |alien| %>
		<div class="container" align="left">

			<div class="row">
				<div class="column col-sm-3 col-sm-offset-1" align="left">
					<h3> <%= link_to alien.name, alien_path(alien.id) %> </h3>
				</div>
				<div class="column col-sm-7" align="left">
					<h3> <%= alien.tagline %> </h3>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="column col-sm-3 col-sm-offset-1">
					<%= image_tag("aliens/#{alien.name}.png".downcase(), size: "200") %>
				</div>
				<div class="column col-sm-7">
					<p> <%= alien.effect %> </p> <br>
					<p class="flavour"> <%= alien.flavour %> </p>
				</div>
			</div>
		</div>
		<br>
	<% end %>
</div>

<%= will_paginate @aliens, renderer: BootstrapPagination::Rails %>

</div>
